html,body{
    height: 100%;
    width: 100%;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
*{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.entireContainer{
    height: 100%;
    width: 100%;
    background-image: url(../assets/gre2.jpg);
    background-position: center;
    background-size: cover;
    /*background-color: black;*/
}
.form{
    height: 50%;
    width: 30%;
/*    flex-direction: column;*/
    padding: 40px; 
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba(19, 4, 4, 0.37);
    backdrop-filter: blur( 10px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.formElements{
    height: 100%;
    width: 100%;
    flex-direction: column;
    /*padding: 20%;
    flex-direction: column;
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba(19, 4, 4, 0.37);
    backdrop-filter: blur( 10px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 ); */
}
.formHeader{
    height: 10%;
    width: 100%;
    font-size: xx-large;
    font-weight: bolder;
    color: white;
}
.formHeader>span{
    padding-bottom: 15px;
}
.formTextFields{
    height: 70%;
    width: 100%;
    flex-direction: column;
}
.formButtons{
    height: 20%;
    width: 100%;
    flex-direction: row;
}
.formTextField1{
    height: 50%;
    width: 100%;
    flex-direction: column;
}
.textField1{
    height: 100%;
    width: 100%;
}
.textLabel{
    height: 20%;
    width: 100%;
    justify-content: left;
}
.user-icon-text{
    height: 100%;
    width: 100%;
    flex-direction: row;
}
.userLabelIcon{
    width: 5%;
    height: 100%;
    justify-content: left;
}
.userLabel{
    width: 95%;
    height: 100%;
    justify-content: left;
}
.textBox1{
    height: 70%;
    width: 100%;
}
.TextErr{
    height: 10%;
    width: 100%;
}
.formTextField2{
    height: 50%;
    width: 100%;
    flex-direction: column;
}
.textField2{
    height: 100%;
    width: 100%;
}
.passLabel{
    height: 20%;
    width: 100%;
}
.pass-icon-Text{
    height: 100%;
    width: 100%;
    flex-direction: row;
}
.passLabelIcon{
    width: 5%;
    height: 100%;
}
.passTextLabel{
    width: 95%;
    height: 100%;
    justify-content: left;
}
.textBox2{
    height: 70%;
    width: 100%;
}
.passwordErr{
    height: 10%;
    width: 100%;
}
.formButton1{
    width: 100%;
    height: 100%;
}
/*.formButton2{
    width: 50%;
    height: 100%;
}*/
input{
    height: 50%;
    width: 100%;
    outline:0;
    padding: 10px;
    background: rgba( 255, 255, 255, 0.3 );
    box-shadow: 0 8px 32px 0 rgba(17, 4, 4, 0.32);
    backdrop-filter: blur( 3.5px );
    -webkit-backdrop-filter: blur( 3.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
button{
    height: 50%;
    width: 40%;
    outline: 0;
    padding: 10px;
    background: rgba( 255, 255, 255, 0.3 );
    box-shadow: 0 8px 32px 0 rgba(7, 2, 2, 0.32);
    backdrop-filter: blur( 3.5px );
    -webkit-backdrop-filter: blur( 3.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
button:hover{
    opacity: 0.6;
}
label{
    font-weight: bolder;
    color: white;
}
#loginBtn{
    color: white;
    font-family: helvetica;
    text-align: center;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
}
#userIdTextBox{
    color: white;
    font-family: helvetica;
}
#passwordTextBox{
    color: white;   
}
#userIdErr{
    color:rgb(255, 0, 0);
    font-size: 18px;
    font-weight: bold;
}
#passErr{
    color:red;
    font-size: 18px;
    font-weight: bold;
}
#userIcon{
    color: whitesmoke;
}
#passIcon{
    color: whitesmoke;
}
/*
#clearBtn{
    color: white;
    font-family: helvetica;
    text-align: center;
    font-size: small;
    font-weight: bolder;
} */
::placeholder{
    color: white;
    font-family: helvetica;
    font-size: small;
    font-weight: bolder;
}
@media only screen and (max-device-width:640px){
    body{
        font-size: x-large;
    }
}
/*background: rgba( 255, 255, 255, 0.35 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 3.5px );
-webkit-backdrop-filter: blur( 3.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );*/